<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Herokuapp-Test" parallel="false">


	<test name="Login" preserve-order="true">
		<classes>
			<class name="herokuapp.testcase.ValidLoginTest"/>
			<class name="herokuapp.testcase.InvalidLoginTest"/>
		 </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->